.product__details__container {
  .addTOCart__btn {
    padding: 7px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    background-color: #df2020;
    color: #fff;
    &:hover {
      background-color: #212245;
    }
  }
  textarea{
    padding: 10px;
    width: 40%;
    &:focus{
      outline: none;
    }
  }
  .img__item {
    cursor: pointer;
  } 
  .single__product-content {
    padding-left: 50px;
    .product__price {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      margin-bottom: 0;
      span {
        font-size: 2rem;
        color: #df2020;
      }
    }
    .category {
      font-weight: 600;
      color: #212245;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      margin-top: 10px;
      span {
        padding: 5px 10px;
        background: #fde4e4;
        color: #212245;
        border-radius: 5px;
      }
    }
    .addTOCart__btn {
      padding: 10px 20px;
      font-size: 0.9rem;
      border: none;
      border-radius: 4px;
      background-color: #df2020;
      color: #fff;
      &:hover {
        background-color: #212245;
      }
    }
  }
  .tabs {
    border-bottom: 1px solid #fde4e4;
    h6 {
      cursor: pointer;
    }
  }
  .tab__active {
    color: #df2020;
  }
  .tab__content {
    padding: 30px 0px;
    p {
      line-height: 30px;
      color: #212245b6;
    }
  }
  .tab__form {
    .review {
      .user__name {
        font-weight: 600;
        color: #212245;
      }
      .user__email {
        font-size: 0.8rem;
      }
      .feedback__text {
        color: #212245b6;
      }
    }
    .form {
      width: 40%;
      margin: auto;
      background: #fde4e4;
      padding: 20px;
      border-radius: 5px;
      .form__group {
        margin-bottom: 30px;
        input {
          width: 100%;
          background: transparent;
          padding: 7px 20px;
          border: none;
          border-bottom: 1px solid #2122454c;
          &:focus {
            outline: none;
          }
        }
        textarea {
          width: 100%;
          background: transparent;
          padding: 7px 20px;
          border: none;
          border-bottom: 1px solid #2122454c;
          &:focus {
            outline: none;
          }
        }
      }
      .addTOCart__btn {
        padding: 10px 20px;
        font-size: 0.9rem;
        border: none;
        border-radius: 4px;
        background-color: #212245;
        color: #fff;
        &:hover {
          background-color: #df2020;
        }
      }
    }
  }
}
