.common__section {
    background: linear-gradient(#212245b2, #6c6d94b2),
      url("../../../assets/images/2042.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 80px 0px;
  }